@font-face {
    font-family: 'MyriadPro Regular';
    src: url('../fonts/MyriadPro-Regular.otf') format("opentype");
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "MyriadPro Regular";
}

.wrapper{
    margin: 20px auto 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
    background-color: #f4f5f4;
}

section {
    border-bottom: 1px solid olive;
    padding-bottom: 1em;
}

figure p {
 text-align: center;
}

.photo {
    border: 1px solid #c3d3cc;
}

.indent{
   margin-left: 6%;
}

.phone {
    text-decoration: none;
}

h1{
    font-size: 40px;
    text-align: center;
}


