.photo {
    display: block;
    margin: 0 auto;
    background: #c3d3cc;
    padding: 1px;
}
.indent{
   margin-left: 6%;
}
.phone {
    text-decoration: none;
}
@font-face {
    font-family: 'MyriadPro Regular';
    src: url('../fonts/MyriadPro-Regular.otf') format("opentype");
}
p {
    font-family: "MyriadPro Regular";
}
h1{
    font-family: "MyriadPro Regular";
    font-size: 40px;
    width: 100%;
    text-align: center;
}
h3{
    font-family: "MyriadPro Regular";
    width: 100%;
    /*text-align: center;*/
}
body{
    margin: 5% 25%;
    background: #f4f5f4;
}
