* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../img/background.jpg);
    font-family: Tahoma;
}

.mainContainer {
    width: 65%;
    margin: 0 auto;
    padding-top: 36px;
    background-color: white;
    box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}
.logoImage a img {
    max-width: 100%;
    height: auto;
}

.logo {
    padding-left: 30px;
    float: left;
    padding-top: 10px;
}

.logoImage {
    height: 100%;
}

.contacts {
    font-size: 12px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: #128aa7;
    float: right;
}

.contacts:first-line {
    font-weight: bold;
    line-height: 2.5;
}

.countries {
    list-style: none;
    margin-right: 30px;
    clear: right;

    float: right;
}

.countries ul{
    list-style: none;
}
.countries ul li {
    padding: 0 10px;
    float: left;
}


figure {
    margin: 0px;
    text-align: center;
    /*-webkit-margin-end: 0px;*/
}

figcaption a {
    display: inline;
    font-size: 10px;
    color: #128aa7;
}
.sliderImg img{
    max-width: 100%;
}

.sliderImg {
    max-width: 100%;
    border-top: 1px solid #138aa7;
    border-bottom: 1px solid #138aa7;
}

.clearFix:after {
    content: "";
    clear: both;
    display: table;
}